<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Coletivo & Criativos</h1>
        <p>
            Catálogo - Produtos</br>
            Links Úteis - Loja
        </p>
        <nav>
            <a href = "/index">Inicio |</a>
            <a href = "/atacado">Valor Atacado |</a>
            <a href = "/varejo">Valor Varejo</a>
        </nav>
        {% block conteudo%}
        {% endblock %}

    </body>
